[submodule "src/modules/pixi.js"]
	path = src/modules/pixi.js
	url = https://github.com/pixijs/pixi.js
[submodule "src/modules/dust"]
	path = src/modules/dust
	url = https://github.com/kittykatattack/dust
[submodule "src/modules/tink"]
	path = src/modules/tink
	url = https://github.com/kittykatattack/tink
[submodule "src/modules/spriteUtilities"]
	path = src/modules/spriteUtilities
	url = https://github.com/kittykatattack/spriteUtilities
[submodule "src/modules/charm"]
	path = src/modules/charm
	url = https://github.com/kittykatattack/charm
[submodule "src/modules/bump"]
	path = src/modules/bump
	url = https://github.com/kittykatattack/bump
[submodule "src/modules/sound.js"]
	path = src/modules/sound.js
	url = https://github.com/kittykatattack/sound.js
[submodule "src/modules/scaleToWindow"]
	path = src/modules/scaleToWindow
	url = https://github.com/kittykatattack/scaleToWindow
[submodule "src/modules/smoothie"]
	path = src/modules/smoothie
	url = https://github.com/kittykatattack/smoothie
[submodule "src/modules/gameUtilities"]
	path = src/modules/gameUtilities
	url = https://github.com/kittykatattack/gameUtilities
[submodule "src/modules/fullScreen"]
	path = src/modules/fullScreen
	url = https://github.com/kittykatattack/fullScreen
[submodule "src/modules/tileUtilities"]
	path = src/modules/tileUtilities
	url = https://github.com/kittykatattack/tileUtilities
